<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query'),
      "${user_language}",
      "${user_timezone}"
    );
  </%static:require_module>
</%block>
% endif

<%block name="pagetitle">${_("Courses")}</%block>

<style>

    .course{
        border: none;
        border-radius: 5px;
    }
    .courses-container .courses .course {
        position: relative;
        border-bottom: none;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2)!important;
        width: 100%;
    }

    .courses-container .courses .course .course-info {
        height: 100%;
        font-family: inherit;
        
    }

    .courses-container .courses .course .course-info .course-organization {
        padding: .3rem 1rem .3rem 1rem;
        font-size: 0.7rem;
        border: 2px solid #00b06d;
        color: #000000;
        border-radius: 30px;
        display: inline-block;
    }

    .courses-container .courses .course .course-info .course-title {
        margin: 1rem 0 5px 0; 
        padding: 0 0; 
        height: 100%; 
        color: #454545; 
        font-weight: bold;
    }

    .courses-container .courses .course .course-info .course-code {
        padding: 0 0;
    }

    .courses-container .courses .course .course-info .course-date {
        font-weight: 400;
        color: #ff6a6a;
        padding: 2px 0px;
    }

    .courses-container .courses .course .course-image .cover-image {
    }

    .courses-container .courses .course .course-image .cover-image::before {
        content: none !important;
    }

    .highlighted-courses .courses .course, .find-courses .courses .course {
        border: none;
    }

    .highlighted-courses .courses .course:hover, .highlighted-courses .courses .course:focus, .find-courses .courses .course:hover, .find-courses .courses .course:focus {
        border: none;
        background: #fff;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2)!important;
    }

    .highlighted-courses .courses .course:hover, .highlighted-courses .courses .course:focus, .find-courses .courses .course:hover .course-title{
        color: #ff6a6a !important;
        transition: all 300ms ease;
    }
</style>

<div class="container-fluid courses-header">
    <div class="courses-content">
	    <h2>&nbsp &nbspALL COURSE</h2>
      <p>Upgrade your skills with newest courses</p>

      <div class="search">
      </div>
    </div>
</div>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="find-courses">
      <section class="courses-container">
        % if course_discovery_enabled:
        <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
          <div id="discovery-message" class="search-status-label"></div>
          <form class="wrapper-search-input">
            <label for="discovery-input" class="sr">${_('Search for a course')}</label>
            <input id="discovery-input" class="discovery-input" placeholder="${_('Search for a course')}" type="text"/>
            <button type="submit" class="button postfix discovery-submit btn-yellow-color" title="${_('Search')}">
              <span class="icon fa fa-search " aria-hidden="true"></span>
              <div aria-live="polite" aria-relevant="all">
              </div>
            </button>
          </form>
        </div>

        <div id="filter-bar" class="filters hide-phone is-collapsed">
        </div>
        % endif

        <div class="courses${'' if course_discovery_enabled else ' no-course-discovery'}" role="region" aria-label="${_('List of Courses')}" style="margin: 0px !important;">
	    <ul class="courses-listing courses-list">
            %for course in courses:
            <li class="courses-listing-item">
              <%include file="../course.html" args="course=course" />
            </li>
            %endfor
          </ul>
        </div>
        % if course_discovery_enabled:
        <aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu">
          <section class="search-facets-lists">
          </section>
        </aside>
        % endif

      </section>
    </section>
</main>
