
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

// Base Styling 

$primary: #FFAB00;
// $primary: #00b06d;

// .mdb-footer{
//     display:none;
// }

body,html{
    overflow-x: hidden !important;
    font-family: 'Roboto', sans-serif !important;
}

.container {
    padding: 0 40px !important
}

.container-fluid{
    padding: 0 0 !important;
}

#main{
    max-width: 1320px !important;
    margin: 0 auto !important;
}

.jumbotron{
    background-color: $primary;
    min-height: 300px;
    display: grid;
    place-items: center;

    h1{
        color: #fff !important;
    }
}


.nav-link{
   font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
   font-weight: 400;
   font-size: 14px;
    line-height: 20.72px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000000;
    background-color: transparent;
    padding: 10px 25px 23px 25px;
}
   
.nav-link {
      &:hover{

         font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
   font-weight: 400;
   font-size: 14px;
    line-height: 20.72px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-bottom: 4px hidden #FFAB00;
    color: #FFAB00;
    border-bottom-style: solid;
    background-color: transparent;
    padding: 10px 15px 13px 15px;
      }

    &:focus{
   font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
   font-weight: 400;
   font-size: 14px;
    line-height: 20.72px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-bottom: 4px hidden #FFAB00;
    color: #FFAB00;
    border-bottom-style: solid;
    background-color: transparent;
    padding: 10px 15px 13px 15px;
    }

   &:active{

     font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
   font-weight: 400;
   font-size: 14px;
    line-height: 20.72px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-bottom: 4px hidden #FFAB00;
    color: #FFAB00;
    border-bottom-style: solid;
    background-color: transparent;
    padding: 10px 15px 13px 15px;
   }


}




.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: $primary !important;
    width: 100% !important;
}

.tab-pane h2{
    font-size: 2rem !important;
    font-weight: bold !important;
    font-family: inherit !important;
}

.tab-pane p{
    font-size: 1.1rem !important;
}


.global-header .header-logo a {
    margin-left: 0 !important;
}

.carousel-control-prev{
    border: none !important;
    &:hover{
        background-color: rgba(0, 0, 0, 0.2) !important;
        background-image: none !important;
    }

    &:focus{
        background-color: transparent !important;
        box-shadow: none !important;
    }
}

.carousel-control-next{
    border: none !important;
    &:hover{
        background-color: rgba(0, 0, 0, 0.2) !important;
        background-image: none !important;
    }

    &:focus{
        background-color: transparent !important;
        box-shadow: none !important;
    }
}


.find-courses{
    background: none !important;
}


//HeaderFactory

.main-header{
    max-width: 1320px;
    padding: 0 2rem;
    margin: 0 auto;
}

.nav-links{
    display: flex;
    justify-content: space-between;
}

@media(max-width: 980px){
    .global-header .header-logo{
        position: relative;
        top: 0%;
        left: 50%;
    }
}




// About courser styling

.course-info header.course-profile{
    background: #f5f5f5 !important;
    box-shadow: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
    height: 100% !important;
    padding-top: 0px !important;
    overflow: visible !important;
    position: relative !important;
    width: 100%;
}

.course-info header.course-profile .intro-inner-wrapper {
    border: none !important;
    box-shadow: 0 4px 10px 0 rgba(0,0,0, 0.2) !important;
}

.course-info header.course-profile .intro-inner-wrapper .media .hero {
    border: none !important;
}


.course-info header.course-profile .intro-inner-wrapper .intro .main-cta>a.find-courses, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart {
    border: none !important;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    background: none;
    border: 2px solid $primary !important;
    background-color: transparent !important;
    background-image: none !important;
    background-image: none !important;
    text-shadow:none !important;
    width: 48.82117%;
    color: #000 !important;
}


.course-info header.course-profile .intro-inner-wrapper .intro .main-cta>a.find-courses, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart {
    &:hover{
        transition: 300ms ease !important;
        // background-color: darken($primary, 10%) !important;
        background-color: $primary !important;
        background-image: none !important;
        background-image: none !important;
    }
}






.cat-all,.cat-1,.cat-2,.cat-3,.cat-4,.cat-5{
    border: none !important;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    // background-color: $primary;
    background-color: transparent !important;
    border: 2px solid $primary !important;
    background-image: none !important;
    background-image: none !important;
    text-shadow:none !important;
    width: 48.82117%;
    color: #000 !important;

}

.cat-all,.cat-1,.cat-2,.cat-3,.cat-4,.cat-5{ 
      &:hover{
        transition: 300ms ease !important;
        // background-color: darken($primary, 10%) !important;
        background-color: $primary !important;
        background-image: none !important;
        background-image: none !important;
        color: #000 !important;
    }

    &:focus{
        box-shadow: none !important;
        background-color: $primary !important;
        // background-color: darken($primary, 10%) !important;
        background-image: none !important;
        background-image: none !important;
        color: #fff !important;
    }
}



.btn-yellow-color{
    border: none !important;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    // background-color: $primary;
    background-color: transparent !important;
    border: 2px solid $primary !important;
    background-image: none !important;
    background-image: none !important;
    text-shadow:none !important;
    color: #000 !important;

}

.btn-yellow-color{ 
      &:hover{
        transition: 300ms ease !important;
        // background-color: darken($primary, 10%) !important;
        background-color: $primary !important;
        background-image: none !important;
        background-image: none !important;
        color: #000 !important;
    }

    &:focus{
        box-shadow: none !important;
        background-color: $primary !important;
        // background-color: darken($primary, 10%) !important;
        background-image: none !important;
        background-image: none !important;
        color: #fff !important;
    }
}



// Courser card Styling
.card-titles{
    margin: 1rem 0;
    .course-organization{
        display: inline-block;
        padding: .3rem 1rem;
        font-size: 0.7rem;
        border: 2px solid $primary;
        color: #000000;
        border-radius: 30px;
    }
    .course-code{
        color: #707070;
        font-size: .875rem;
        font-weight: 300;
    }
    .course-title{
        font-size: 1.25rem;
        color: #454545;
        font-weight: 500;
        line-height: 1.15;
        margin-top: 1rem;
        margin-bottom: 5px;
        font-family: inherit;
    }
}


// Courses section

.courses{
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

.course{
    padding: 1.2rem !important;
    box-shadow: 0 4px 10px 0 rgba(0,0,0, 0.2) !important;
    border-radius: 4px;
    // margin-top: 40px;
    line-height: 1.4;

}

.course-name{
    margin: 20px 0 !important;
    font-family: 'Roboto', sans-serif !important;
}

.course-name{
    &:hover{
        text-decoration: none;
    }
}

// Courses header for courses page
.courses-header{
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url("");
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    // background-color: rgba(0, 0, 0, 0.6);
    // background-blend-mode: multiply;  
    background: #C02425;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.search {
    display: flex;
  }
  
  .search .input {
    background-color: #ebebeb;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 100%;
    border-radius: 0 !important;
    transition: width 0.3s ease;
  }
  
  .btn-search {
    background-color: #ebebeb !important;
    border: 0 !important;
    cursor: pointer;
    font-size: 24px;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    border-radius: 0 !important;
    transition: transform 0.3s ease;
    box-shadow: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary !important;
  }
  
  .btn-search:focus,
  .input:focus {
    outline: none;
    background: #ebebeb !important;
  }

  .input:focus{
      box-shadow: 0 0 5px rgba(28, 221, 247, 0.6) !important;
  }

  .btn-search:hover{
      background: #ebebeb !important;
  }


  .courses-content h2 { 
    margin-bottom: 0 !important;
    font-size: 3rem;
    font-weight: bold !important;
    font-family: inherit !important;
    color: #fff !important;
}

.courses-content p {
    font-size: 1.3rem !important;
    font-family: inherit;
    color: #ccc !important;
    margin: 15px 0 8px 0 !important;
}

// About our courses
#about-our-courses{
    padding: 100px 0;
    background-color: #e7e8ed;
}


// Services or what we do
a,p,h1,h2,h3,h4,ul {
	margin: 0;
	padding: 0;
}

.section-services {
	padding-top: 110px;
	padding-bottom: 120px;
	background-color: #211f24;
	color: #fff;
}

.section-services .header-section {
	margin-bottom: 35px;
}

.section-services .header-section .title {
	position: relative;
	margin-bottom: 40px;
	padding-bottom: 25px;
	text-transform: uppercase;
	font-weight: bold;
    font-size: 2.2rem;
    letter-spacing: 3px;
    font-family: inherit;
}

.section-services .header-section .title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 140px;
	height: 1px;
	background-color: $primary;
}

.section-services .header-section .title:after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 50%;
	transform: translateX(-50%);
	width: 45px;
	height: 3px;
	background-color: $primary;
}

.section-services .header-section .title span {
	color: $primary;
}

.section-services .header-section .description {
	color: #6f6f71;
    font-size: 1.1rem;
    font-family: inherit;
}

.section-services .single-service {
	margin-top: 40px;
	background-color: #24252a;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}

.section-services .single-service .part-1 {
	padding: 40px 40px 25px;
	border-bottom: 2px solid #1d1e23;
}

.section-services .single-service .part-1 i {
	margin-bottom: 25px;
	font-size: 50px;
	color: $primary;
}

.section-services .single-service .part-1 .title {
	font-size: 17px;
	font-weight: 700;
	letter-spacing: 0.02em;
	line-height: 1.8em;
    letter-spacing: 1.5px;
    font-family: inherit;
    color: #fff;
}

.section-services .single-service .part-2 {
	padding: 30px 40px 40px;
}

.section-services .single-service .part-2 .description {
	margin-bottom: 22px;
	color: #888888;
    font-size: 1.1rem;
    line-height: 1.6em;
    font-family: inherit;
}

.section-services .single-service .part-2 a {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

.section-services .single-service .part-2 a i {
	margin-right: 10px;
	color: $primary;
}






// Footer styling
ul {
 padding:0;
 margin:0
}
li {
 list-style:none
}
a:focus,a:hover {
 text-decoration:none;
 -webkit-transition:.3s ease;
 -o-transition:.3s ease;
 transition:.3s ease
}
a:focus {
 outline:0
}
img {
 max-width:100%
}
p {
 font-size:16px;
 line-height:30px;
 color:#898b96;
 font-weight:300
}
h4 {
 font-family:Rubik,sans-serif;
 margin:0;
 font-weight:400;
 padding:0;
 color:#363940
}
a {
 color:#5867dd
}
.no-padding {
 padding:0!important
}
.go_top {
 line-height:40px;
 cursor:pointer;
 width:40px;
 background:#5867dd;
 color:#fff;
 position:fixed;
 -webkit-box-shadow:0 4px 4px rgba(0,0,0,.1);
 box-shadow:0 4px 4px rgba(0,0,0,.1);
 -webkit-border-radius:50%;
 border-radius:50%;
 right:-webkit-calc((100% - 1140px)/ 2);
 right:calc((100% - 1140px)/ 2);
 z-index:111;
 bottom:80px;
 text-align:center
}
.go_top span {
 display:inline-block
}
.footer-big {
 padding:105px 0 65px 0
}
.footer-big .footer-widget {
 margin-bottom:40px
}
.footer--light {
 background:#e7e8ed
}
.footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
 color:#898b96
}
.footer-menu {
 padding-left:48px
}
.footer-menu ul li a {
 font-size:15px;
 line-height:32px;
 -webkit-transition:.3s;
 -o-transition:.3s;
 transition:.3s
}
.footer-menu ul li a:hover {
 color:#5867dd
}
.footer-menu--1 {
 width:100%
}
.footer-widget-title {
 line-height:42px;
 margin-bottom:10px;
 font-size:18px
}
.mini-footer {
 background:#192027;
 text-align:center;
 padding:32px 0
}
.mini-footer p {
 margin:0;
 line-height:26px;
 font-size:15px;
 color:#999
}
.mini-footer p a {
 color:#5867dd
}
.mini-footer p a:hover {
 color: $primary;
}
.widget-about img {
 display:block;
 margin-bottom:30px
}
.widget-about p {
 font-weight:400
}
.widget-about .contact-details {
 margin:30px 0 0 0
}
.widget-about .contact-details li {
 margin-bottom:10px
}
.widget-about .contact-details li:last-child {
 margin-bottom:0
}
.widget-about .contact-details li span {
 padding-right:12px
}
.widget-about .contact-details li a {
 color:#5867dd
}
@media (max-width:991px) {
 .footer-menu {
  padding-left:0
 }
}



// Video js
@charset "UTF-8";
.vjs-volume-levels[data-level="10"] .vjs-volume-level:nth-child(-n+10), .vjs-volume-levels[data-level="9"] .vjs-volume-level:nth-child(-n+9), .vjs-volume-levels[data-level="8"] .vjs-volume-level:nth-child(-n+8), .vjs-volume-levels[data-level="7"] .vjs-volume-level:nth-child(-n+7), .vjs-volume-levels[data-level="6"] .vjs-volume-level:nth-child(-n+6), .vjs-volume-levels[data-level="5"] .vjs-volume-level:nth-child(-n+5), .vjs-volume-levels[data-level="4"] .vjs-volume-level:nth-child(-n+4), .vjs-volume-levels[data-level="3"] .vjs-volume-level:nth-child(-n+3), .vjs-volume-levels[data-level="2"] .vjs-volume-level:nth-child(-n+2), .vjs-volume-levels[data-level="1"] .vjs-volume-level:nth-child(-n+1) {
  background-color: #7dbe33;
}

:focus {
  outline: none;
}

.vjs-default-skin .vjs-big-play-button {
  font-size: 3em;
  line-height: 1.5em;
  height: 1.5em;
  width: 3em;
  /* 0.06666em = 2px default */
  border: 0.06666em solid #fff;
  /* 0.3em = 9px default */
  border-radius: 0.3em;
  /* Align center */
  left: 50%;
  top: 50%;
  margin-left: -1.5em;
  margin-top: -0.75em;
}

.video-js .vjs-control-bar {
  background-color: transparent;
  height: 50px;
  padding: 10px;
}

.video-js .vjs-control-text {
  display: none;
}

.video-js .vjs-control {
  height: 30px;
  width: 3em;
}

.video-js .vjs-control:focus:before,
.video-js .vjs-control:hover:before,
.video-js .vjs-control:focus {
  text-shadow: none !important;
}

.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
  /* IE8 - has no alpha support */
  background-color: #010001;
  /* Opacity: 1.0 = 100%, 0.0 = 0% */
  background-color: rgba(1, 0, 1, 0.7);
}

.video-js .vjs-progress-control {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 0.3em;
  bottom: 50px;
  padding: 0 10px;
}

/* The slider bar color is used for the progress bar and the volume bar
   (the first two can be removed after a fix that's coming) */
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: #7dbe33;
}

/* The main progress bar also has a bar that shows how much has been loaded. */
.video-js .vjs-load-progress {
  /* For IE8 we'll lighten the color */
  background: #f2f2f2;
  /* Otherwise we'll rely on stacked opacities */
  background: rgba(179, 178, 178, 0.5);
}

/* The load progress bar also has internal divs that represent
   smaller disconnected loaded time ranges */
.video-js .vjs-load-progress div {
  /* For IE8 we'll lighten the color */
  background: white;
  /* Otherwise we'll rely on stacked opacities */
  background: rgba(179, 178, 178, 0.75);
}

.lazy-loader-spinner {
  width: 36px;
  height: 49px;
  margin: 0 auto;
  color: #8bbb4b;
  margin-top: 35px;
}

.vjs-loading-spinner:after {
  content: none;
}

.vjs-loading-spinner {
  border: none;
  width: 35px;
  height: 35px;
}

.vjs-seeking .vjs-loading-spinner::before,
.vjs-seeking .vjs-loading-spinner::after,
.vjs-waiting .vjs-loading-spinner::before,
.vjs-waiting .vjs-loading-spinner::after {
  border-radius: 50%;
  border: 6px solid transparent;
  border-color: transparent;
  border-top-color: #eee;
  -webkit-animation: lazy-loader 1.4s infinite linear;
  animation: lazy-loader 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

@-webkit-keyframes lazy-loader {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes lazy-loader {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.vjs-icon-fullscreen-exit,
.video-js.vjs-fullscreen .vjs-fullscreen-control {
  font-family: FontAwesome;
}

.video-js .vjs-fullscreen-control {
  font-family: FontAwesome;
  order: 10;
}

.vjs-icon-fullscreen-enter,
.video-js .vjs-fullscreen-control .vjs-icon-placeholder,
.vjs-icon-fullscreen-exit,
.video-js.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
}

.vjs-icon-fullscreen-enter:before,
.video-js .vjs-fullscreen-control:before {
  content: "";
  font-size: 1.4em;
  top: 4px;
}

.vjs-icon-fullscreen-exit:before,
.video-js.vjs-fullscreen .vjs-fullscreen-control:before {
  content: "";
  font-size: 1.4em;
  top: 4px;
}

.video-js.vjs-has-started.vjs-paused .vjs-big-play-button:before {
  content: "";
}

@-webkit-keyframes fadeinout {
  0% {
    opacity: 0;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
  }
  12% {
    opacity: 0.12;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
  }
  25% {
    opacity: 0.25;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
  50% {
    opacity: 0.5;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  75% {
    opacity: 0.25;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
}
@keyframes fadeinout {
  0% {
    opacity: 0;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
  }
  12% {
    opacity: 0.12;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
  }
  25% {
    opacity: 0.25;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
  50% {
    opacity: 0.5;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  75% {
    opacity: 0.25;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
}
.video-js {
  font-size: 14px;
  color: #fff;
}
.video-js *, .video-js:after, .video-js:before {
  box-sizing: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}
.video-js .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin-left: -1em;
  margin-top: -1.5em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border: 5px solid #fff;
  border-radius: 50%;
  font-size: 3.5em;
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  -webkit-transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
  -moz-transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
  -ms-transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
  -o-transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
  transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
}
.video-js .vjs-big-play-button:before {
  transform: translateY(-0.1em);
  content: "";
}
.video-js .vjs-big-play-button.faded {
  display: block;
  -webkit-animation: fadeinout 1s linear forwards;
  animation: fadeinout 1s linear forwards;
}
.video-js .vjs-slider {
  background-color: #1f1f1f;
}
.video-js .vjs-spacer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.video-js.vjs-seeking:after {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 20000;
  pointer-events: none;
}
.video-js.vjs-seeking .vjs-control-bar {
  opacity: 0;
}
.video-js.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-control-bar {
  opacity: 0;
}
.video-js.vjs-has-started.vjs-user-active .vjs-text-track-display {
  bottom: 35px;
}
.video-js.vjs-has-started .vjs-text-track-display div {
  font-size: 18px !important;
  background-color: transparent !important;
  color: #fff !important;
}
.video-js .vjs-time-control {
  -webkit-box-flex: 0 1 auto;
  -moz-box-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: auto;
  padding: 0;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.video-js .vjs-time-control .vjs-current-time-display {
  text-align: right;
  width: 100%;
}
.video-js .vjs-time-control .vjs-duration-display {
  text-align: left;
  width: 100%;
}
.video-js .vjs-time-control.vjs-time-divider {
  min-width: 10px;
  height: 30px;
}
.video-js .vjs-time-control.vjs-current-time {
  margin-right: 5px;
}
.video-js .vjs-current-time {
  width: 3em;
}
.video-js .vjs-volume-menu-button {
  order: 1;
  margin-right: 5px;
}
.video-js .vjs-volume-menu-button.vjs-menu-button-inline:hover, .video-js .vjs-volume-menu-button.vjs-menu-button-inline:focus {
  width: 9em;
}
.video-js .vjs-volume-menu-button.vjs-volume-menu-button-horizontal:hover .vjs-menu-content, .video-js .vjs-volume-menu-button.vjs-volume-menu-button-horizontal:focus .vjs-menu-content {
  width: 5em;
}
.video-js .vjs-volume-menu-button .vjs-volume-levels {
  width: 100%;
  height: 10px;
  display: flex;
  cursor: pointer;
  justify-content: stretch;
  align-items: stretch;
  padding: 0px;
  margin: 14px 0;
}
.video-js .vjs-volume-menu-button .vjs-volume-level {
  position: static;
  margin-left: 2px;
  width: 5px;
  display: inline-block;
  height: 100%;
  background-color: #efefef;
}

.video-js .vjs-remaining-time,
.video-js .vjs-volume-level:after,
.video-js .vjs-volume-level:before,
.video-js.vjs-live .vjs-time-control.vjs-current-time,
.video-js.vjs-live .vjs-time-control.vjs-duration,
.video-js.vjs-live .vjs-time-control.vjs-time-divider,
.video-js.vjs-no-flex .vjs-time-control.vjs-remaining-time {
  display: none;
}

.video-js.vjs-no-flex .vjs-time-control {
  display: flex;
  width: 4em;
}

// End of video js
