<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://vjs.zencdn.net/5-unsafe/video-js.css">
    <!-- Demo styles -->
<style>
.carousel-item img{
          max-width: 100% !important;
          max-height: auto !important;
         display: block !important;
         margin: auto;
   }
.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-wrapper{
    align-items: center !important;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    min-height: 100px;
    background-color: #fff !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 0.4rem;
  }


   .swiper-slide img {
    display: block;
     width: 100%;
     height: 100px;
     object-fit: contain;
     transition: 300ms ease-out;
   }

   .swiper-slide:hover img {
      transform: scale(1.1);
   }

</style>

<div id="carouselExampleControls" style="margin: 0 -1rem !important;" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="${static.url('images/slider_one.png')}" style="" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="${static.url('images/slider_two.png')}" class="d-block w-100" style="" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section class="our-partners pt-5">
  <div class="container">
    <div class="swiper-container mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="${static.url('images/partner_1.jpg')}" /></div>
        <div class="swiper-slide"><img src="${static.url('images/partner_3.png')}" style="width: 60%" /></div>
        <div class="swiper-slide"><img src="${static.url('images/partner_2.jpg')}" /></div>
        <div class="swiper-slide"><img src="${static.url('images/partner_4.png')}" /></div>
        <div class="swiper-slide"><img src="${static.url('images/partner_5.png')}" style="width: 60%" /></div>
        <!-- <div class="swiper-slide"><img src="${static.url('images/partner_6.jpg')}" style="width: 60%" /></div> -->
      </div>
    </div>



    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

      <!-- Initialize Swiper -->
      <script>
        var swiper = new Swiper(".mySwiper", {
          slidesPerView: 3,
          spaceBetween: 10,
          // pagination: {
          //   el: ".swiper-pagination",
          //   clickable: true,
          // },
          autoplay: {
            delay: 2500,
            disableOnInteraction: false,
          },
          breakpoints: {
            640: {
              slidesPerView: 3,
              spaceBetween: 20,
            },
            768: {
              slidesPerView: 4,
              spaceBetween: 40,
            },
            1024: {
              slidesPerView: 5,
              spaceBetween: 50,
            },
          },
        });
    </script>
  </div>
</section>


<!-- <section id="our-video mt-5 mb-5">
  <video
    id="my-video"
    class="video-js mx-auto vjs-big-play-centered"
    controls
    preload="auto"
    width="640"
    height="264"
    poster="MY_VIDEO_POSTER.jpg"
    data-setup="{}"
  >
    <source src="${static.url('images/video.mp4')}" type="video/mp4" />
    <source src="MY_VIDEO.webm" type="video/webm" />
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
  <script>

  </script>
</section> -->


<!-- <section class="mt-5" id="about-our-courses">
  <div class="container">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-edumoocs-tab" data-bs-toggle="pill" data-bs-target="#pills-edumoocs" type="button" role="tab" aria-controls="pills-edumoocs" aria-selected="true">EduMOOCs</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-skillmoocs-tab" data-bs-toggle="pill" data-bs-target="#pills-skillmoocs" type="button" role="tab" aria-controls="pills-skillmoocs" aria-selected="false">SkillMOOCs</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-techmoocs-tab" data-bs-toggle="pill" data-bs-target="#pills-techmoocs" type="button" role="tab" aria-controls="pills-techmoocs" aria-selected="false">TeachMOOCs
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-lifemoocs-tab" data-bs-toggle="pill" data-bs-target="#pills-lifemoocs" type="button" role="tab" aria-controls="pills-lifemoocs" aria-selected="false">TeachMOOCs
        </button>
      </li>
    </ul>
    <div class="tab-content mt-4" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-edumoocs" role="tabpanel" aria-labelledby="pills-edumoocs-tab">

        <div class="row">
          <div class="col-md-4">
            <img style="max-width: 100%;max-height: 100%;background-size: cover;background-position: center;" src="${static.url('images/eduMOOC.png')}" />
          </div>
          <div class="col-md-8">
            <h2>EduMOOCs</h2>
            <p>EduMOOC is targeted for learners wishing to enhance their academic knowledge in different fields of study. These MOOCs are mainly Ramanujan College, University of Delhi extension courses, and are taught with the same rigour as those running on the campus.EduMOOC is focused on students wishing to upgrade their scholarly information in various fields of study. These MOOCs are for the most part Ramanujan College augmentation courses and are educated with a similar thoroughness as those running on the grounds. </p>
          </div>
        </div>
        
      </div>
      <div class="tab-pane fade" id="pills-skillmoocs" role="tabpanel" aria-labelledby="pills-skillmoocs-tab">
        <div class="row">
          <div class="col-md-4">
            <img style="max-width: 100%;max-height: 100%;background-size: cover;background-position: center;" src="${static.url('images/skillMOOC.png')}" />
          </div>
          <div class="col-md-8">
            <h2>SkillMOOCs</h2>
            <p>SkillMOOC viably prepares people in their hands on aptitudes, with an essential spotlight on the proficient turn of events. The students sharpening such abilities are probably going to prevail by increasing a serious edge in their calling.</p>
          </div>
        </div>
        
      </div>
      <div class="tab-pane fade" id="pills-techmoocs" role="tabpanel" aria-labelledby="pills-techmoocs-tab">
        <div class="row">
          <div class="col-md-4">
            <img style="max-width: 100%;max-height: 100%;background-size: cover;background-position: center;" src="${static.url('images/teachMOOC.png')}" />
          </div>
          <div class="col-md-8">
            <h2>TeachMOOCs</h2>
            <p>TeachMOOC is intended for educators the nation over, to upgrade their showing abilities by acquainting them with different instructive procedures. TeachMOOCs are for the most part directed in a cross breed style, where the underlying piece of learning is led on the web, trailed by eye to eye meetings.  </p>
          </div>
        </div>
       
      </div>
      <div class="tab-pane fade" id="pills-lifemoocs" role="tabpanel" aria-labelledby="pills-lifemoocs-tab">
        <div class="row">
          <div class="col-md-4">
            <img style="max-width: 100%;max-height: 100%;background-size: cover;background-position: center;" src="${static.url('images/LifeMOOC.png')}" />
          </div>
          <div class="col-md-8">
            <h2>LifeMOOCs</h2>
            <p>LifeMOOC offers courses of brief spans for working experts and others craving to seek after deep-rooted learning. Deep-rooted learning is an excursion that each student looks to embrace. The motivation behind LifeMOOCs is to profit students in hoisting their professions. What's more, these MOOCs likely could be utilized as forerunners to some other space of MOOCs.</p>
          </div>
        </div>
   
      </div>
    </div>
  </div>
</section> -->


<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">  
        <!--
            The whole header wrapper is removed
            https://github.com/edx/edx-platform/blob/a439d5164c07e4695181b15244e8e5c7681421c4/lms/templates/index.html#L13
            To return it back add the above code and set ENABLE_COURSE_DISCOVERY.
        -->   

     <%include file="${courses_list}" />

      <div class="container mb-5">
        <div class="courses-more text-center">
          <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
        </div>
      </div>
      
    </section>
</main>


<!-- <section class="section-services">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-10 col-lg-8">
        <div class="header-section">
          <h2 class="title">Popular<span>Courses</span></h2>
          <p class="description">There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some injected humour</p>
        </div>
      </div>
    </div>
    <div class="row">
      
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="part-1">
            <i class="fab fa-500px"></i>
            <h3 class="title">Critical Thinking</h3>
          </div>
          <div class="part-2">
            <p class="description">TLC Ramanujan College STP 209 2021</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="part-1">
            <i class="fab fa-angellist"></i>
            <h3 class="title">Online chat may refer to any kind communication</h3>
          </div>
          <div class="part-2">
            <p class="description">Express delivery inno service effective logistics solution for delivery of small cargo delivery service.</p>
            <a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
          </div>
        </div>
      </div>
     
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="part-1">
            <i class="fas fa-award"></i>
            <h3 class="title">Service provider provide organizations consulting</h3>
          </div>
          <div class="part-2">
            <p class="description">Express delivery inno service effective logistics solution for delivery of small cargo delivery service.</p>
            <a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
          </div>
        </div>
      </div>
 
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="part-1">
            <i class="fab fa-asymmetrik"></i>
            <h3 class="title">Express delivery innovative Design service</h3>
          </div>
          <div class="part-2">
            <p class="description">Express delivery inno service effective logistics solution for delivery of small cargo delivery service.</p>
            <a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="part-1">
            <i class="fas fa-broadcast-tower"></i>
            <h3 class="title">Provide solutions and services to end users</h3>
          </div>
          <div class="part-2">
            <p class="description">Express delivery inno service effective logistics solution for delivery of small cargo delivery service.</p>
            <a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
          </div>
        </div>
      </div>
   
      
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="part-1">
            <i class="fab fa-canadian-maple-leaf"></i>
            <h3 class="title">This broad term incorporates all IT businesses</h3>
          </div>
          <div class="part-2">
            <p class="description">Express delivery inno service effective logistics solution for delivery of small cargo delivery service.</p>
            <a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section> -->

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
